
@font-face {
    font-family: PlusJakartaSans;
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}  

/* Customs Variables */
:root {
    /*Primary colors*/
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);

    /*Neutral colors*/
    --White: hsl(0, 0%, 100%);
    --Very-light-grayish-blue: hsl(210, 60%, 98%);
    --Light-grayish-blue-1: hsl(211, 68%, 94%);
    --Light-grayish-blue-2: hsl(205, 33%, 90%);
    --Grayish-blue: hsl(219, 14%, 63%);
    --Dark-grayish-blue: hsl(219, 12%, 42%);
    --Very-dark-blue: hsl(224, 21%, 14%);
}

/*General settings*/
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: PlusJakartaSans;
    color: var(--Very-dark-blue);
    background-color: var(--Light-grayish-blue-1);
}
p {    
    font-size: 16px;
    font-weight: 500;
}

.notifications {
    background-color: var(--White);
    padding: 1em ;
    margin: 1em auto 1em auto;
    max-width: 720px;
    border-radius: 10px;
}

.notifications__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0 2em 0;
}

.notifications__header__title{
    font-size: 1.4em;
    font-weight: 800;
}

.notifications__header__title__number {
    color: var(--White);
    background-color: var(--Blue);
    font-size: 0.6em;
    font-weight: 800;
    padding: 0.2em 0.8em;
    border-radius: 5px;
    margin-left: 0.6em;
}

.notifications__header__enlace {
    text-decoration: none;    
    font-size: 0.9em;
    font-weight: 800;
    color: var(--Dark-grayish-blue);
}

.notifications__header__enlace:hover {
    color: var(--Blue);
}

.notifications__container__item {    
    padding: 1em 0;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;    
    border-radius: 10px;
}

.unread {
    background-color: var(--Very-light-grayish-blue);
}

.unread .notifications__container__item__bullet{
    display: inline;
}

.read .notifications__container__item__bullet{
    display: none;
}

.notifications__container__item__avatar {
    width: 15%;
    min-width: 64px;
    text-align: center;
    align-self: flex-start;
}

.notificacion__container__item__avatar__img {
    width: 50%;
    min-width: 40px;
    height: auto;
}

.notifications__container__item__content{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.notifications__container__item__content__resume {
    margin-bottom: 0.3em;
    padding-right: 0.4em;
    line-height: 1em;
    color: var(--Dark-grayish-blue);
}

.notifications__container__item__content__resume__enlace{
    text-decoration: none;
    color: var(--Very-dark-blue);
    font-weight: 800;
}

.notifications__container__item__content__resume__enlace:hover{
    color: var(--Blue);
}

.notifications__container__item__bullet{
    color: var(--Red);
    font-size: 1.6em;
    margin-left: 0.4em;    
    align-self: flex-start;
}

.notifications__container__item__content__date {
    color: var(--Grayish-blue);
}

.notifications__container__item__content__message{
    border: solid var(--Light-grayish-blue-2) 2px;
    margin: 0.8em 0;
    padding: 1em 1.2em;
    border-radius: 5px;
    color: var(--Dark-grayish-blue);
}

.notifications__container__item__content__message:hover{
    background-color: var(--Light-grayish-blue-2);
    cursor: pointer;
}

.notifications__container__item__content__img{
    width: 16%;
    min-width: 50px;
    max-width: 60px;
    align-self: flex-start;
}

.notifications__container__item__content__img:hover{
    cursor: pointer;
}

.bold {
    font-weight: 800;    
}

.blue {
    color: var(--Blue);
}
.dark-gray-blue {
    color: var(--Dark-grayish-blue);
}